# Node modules
node_modules/

# Build output
.next/
out/

# Env files (Important!)
.env.local
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Firebase & misc
firebase-debug.log
functions/lib/
